@media screen and (max-width: 1200px) {
    .side-image {
        display: none;
    }
    .side-login {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    form {
        width: 100%;
        height: 100vh;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
    }
}