@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background);
    color: var(--primary-color);
}

/* text style */
.title h1 {
    color: var(--text-title);
    font-size: 24px;
    margin-left: 10px;
    display: inline;
    position: relative;
    top: -4px;
}

h3, .labelStyle {
    color: var(--text-base);
    font-size: 16px;
    font-weight: normal;
}

.labelStyle, a {
    user-select: none;
    cursor: pointer;
}

a {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

.forgot a:hover, .register a:hover {
    color: rgba(255, 197, 50, 0.9);
    text-decoration: underline;
}

/* logo */

.logo {
    position: fixed;
    top: 20px;
    left: 20px;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

/* side login */

.side-login {
    width: 50%;
}

/* form header */
.form-header {
    margin-bottom: 25px;
}

/* title */
.title img {
    width: 24px;
}

/* form */
form {
    padding: 55px 110px;
    width: 570px;
    border-radius: 4px;

    margin: auto;

    background: var(--form-background);
}
/* input style */

.input-box {
    display: block;
    position: relative;
}

.input-field {
    display: block;
    position: relative;
    margin-block: 5px 15px;
}

.input-field input {
    width: 100%;
    background: inherit;
    border: none;
    outline: none;

    border: 1px solid var(--text-base);
    padding: 12px;
    padding-left: 40px;
    border-radius: 4px;
    color: var(--text-base);
}

input[type="text"]:focus-visible {
    border: 1px solid var(--primary-color);
    outline: 1px solid #F4D482;
}

.input-img {
    width: 20px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.input-field img#eye {
    width: 20px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.passwordOptions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* checkbox style */
input[type="checkbox"] {
    display: none;
}

.checkboxStyle {
    display: inline-block;
    padding-left: 22px;
    position: relative;
    font-size: 16px;
}

.checkboxStyle::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-base);
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    transition: all .2s ease;
}

.checkboxStyle::after {
    content: "";
    width: 3px;
    height: 7px;
    transform: rotate(45deg);
    border: solid var(--text-base);
    border-width: 0px 3px 3px 0px;
    position: absolute;
    top: 5px;
    left: 6px;
    display: none;
    
    transition: all .5s ease;
}

input[type="checkbox"]:active + .checkboxStyle::before {
    transform: scale(1.1);
    border-radius: 6px;
}

input[type="checkbox"]:checked + .checkboxStyle::after {
    display: inline-block;
}

/* botão */
.login-button button {
    background-color: var(--primary-color);
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 14px 0;

    transition: .2s;
}

.login-button button:hover {
    transform: scale(1.02);
}

.login-button button:active {
    filter: brightness(.85);
    transform: scale(.99);
}

.login-button button a {
    color: var(--form-background);
}

/* register */
.register {
    text-align: center;
    font-size: 14px;
}

/* imagem */    

.side-image img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;

}